.register {
    h1 {
        font-size: 4.4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .row {
        margin-right: 0;
        margin-left: 0;

        @include media-md {
            margin-right: -15px;
            margin-left: -15px;
        }
    }
}