.schedule {
    .day-schedule {
        width: fit-content;
        .row {
            margin-right: 15px;
            margin-left: 15px;

            h1 {
                padding-left: 0px;
            }
        }
        span {
            color: $accent-1;
        }
        .sidebar {
            z-index: 100;
            width: 100%;
            background-color: rgba($primary-light, .9);
            display: flex;
            
            @include media-lg {
                // width: auto;
                top: 40px;
            }

            @media (max-width: 700px) {
                // padding-left: 0 !important;
                // padding-right: 0 !important;
                // width: auto;
            }

            @media (max-width: 420px) {
                padding-top: 1rem;

                ul {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                }
                li {
                    margin: 0.5rem;
                }
            }

            ul {
                display: inherit;
                width: 100%;
                justify-content: space-around;                
            }

            li {
                list-style-type: none;

                a {
                    text-transform: uppercase;
                    border-radius: 1rem;
                    border: solid 3px $gradient-c-1;
                    padding: 0.25rem 1.5rem;
                    color: $gradient-c-1;

                    @media (min-width: 995px) {
                        padding: 0.25rem 4.5rem;
                    }
                }
                &:hover {
                    a {
                        border: solid 3px rgba($gradient-c-1, 0.5);
                        color: rgba($gradient-c-1, 0.5);
                    }
                }
            }
        }
        .day {
            padding-top: 2.5rem;
        }
    }

        /*
        position: absolute;
        border: 0.025rem solid transparent;
        border-radius: 16px;
        background: $primary-light;
        background-clip: padding-box;
        padding: 0.25rem;

        &::after {
            position: absolute;
            top: -0.15rem; bottom: -0.15rem;
            left: -0.15rem; right: -0.15rem;
            background: linear-gradient(135deg, $gradient-c-1, $gradient-c-2, $gradient-c-3, $gradient-c-4, $gradient-c-5);
            content: '';
            z-index: -1;
            border-radius: 16px;
        }
    }
        */
}